* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    background: #FF6464;
    border-radius: 4px;
    color: #FFF;
    width: 193px;
    height: 46px;
    border: 0;
}

.button:hover {
    background: #c64646;
    transition: background 0.3s;
}

.section.blue {
    background: #EDF7FA;
}

.view-all-link {
    color: #00A8CC;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
}

.date-time {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2A326F;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    width: 73px;
    height: 32px;
}

/* TODO: example */
ul {
    list-style: none;
    opacity: 0.5; /* 0 - 1*/
}